<div class="container">
    <app-header title="My skills"></app-header>
    <div class="prog-langulage">
        <div class="skill my-5 col-12">
            <h2>Programing languages</h2>
            <div class="row">
                <div class="lang col-12 col-md-6 col-lg-4">
                    Javascript (ES6)
                    <p-progressBar [value]="75"></p-progressBar>
                </div>
                <div class="lang col-12 col-md-6 col-lg-4">
                    Java
                    <p-progressBar [value]="60"></p-progressBar>
                </div>
                <div class="lang col-12 col-md-6 col-lg-4">
                    PHP
                    <p-progressBar [value]="50"></p-progressBar>
                </div>
            </div>
        </div>
        

        <div class="skill my-5 col-12">
            <h2>Frameworks</h2>
            <div class="row">
                <div class="fram col-12 col-md-6 col-lg-4">
                    Angular (NgRx)
                    <p-progressBar [value]="70"></p-progressBar>
                </div>
                <div class="fram col-12 col-md-6 col-lg-4">
                    NodeJS / Express
                    <p-progressBar [value]="70"></p-progressBar>
                </div>
                <div class="fram col-12 col-md-6 col-lg-4">
                    SpringBoot
                    <p-progressBar [value]="55"></p-progressBar>
                </div>
            </div>
        </div>

        <div class="skill my-5 col-12">
            <h2>Databases</h2>
            <div class="row">
                <div class="db col-12 col-md-6 col-lg-4">
                    MySQL
                    <p-progressBar [value]="80"></p-progressBar>
                </div>
                <div class="db col-12 col-md-6 col-lg-4">
                    MongoDB
                    <p-progressBar [value]="75"></p-progressBar>
                </div>
            </div>
        </div>
    </div>
</div>
