<div class="container">
    <div class="ed">
        <h1 class="title">Education</h1>
        <div class="ed-content">
            <div class="ed-content-card">
                <h3>
                    <span class="ed-date">2018 - 2020</span>
                    Master degree in Computer Science - Ecole Nationale d' Informatique
                </h3>
                <div class="ed-content-desc">
                    - Software Engineering and Database Administration
                </div>
            </div>

            <div class="ed-content-card">
                <h3>
                    <span class="ed-date">2015 - 2018</span>
                    Bachelor degree in Computer Science - Ecole Nationale d' Informatique
                </h3>
                <div class="ed-content-desc">
                     Computer Science basics
                     Programing languages
                </div>
            </div>
        </div>
    </div>

    <div class="exp">
        <h1 class="title">Work Experience</h1>
        <div class="exp-content">

            <div class="exp-content-card">
                <h3>
                    <span class="exp-date">June 2020 - Now</span>
                    W3D - MEAN Stack developer 
                </h3>
                <div class="exp-content-desc">
                    - Build and maintain multimedia library web application with    
                </div>
            </div>        

            <div class="exp-content-card">
                <h3>
                    <span class="exp-date">July 2019 - January 2020</span>
                    Hellotana - Internship as web developer 
                </h3>
                <div class="exp-content-desc">
                    - Build a reporting web app to monitor BPO agent production
                    - Maintain internal software and website 
                </div>
            </div>
        </div>
    </div>
</div>